* {
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 140px;
    background-color: rgb(201, 89, 83);
    color: white;

}
footer {
    width: 100%;
    height: 110px;
    background-color: rgb(201, 89, 83);
    color: white;
}    
h1,
h2 {
    text-align: center;
}
img {
    display: block;
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-left: 40px;
    font-size: 20px;
}
p {
    text-align: center;
    font-size: 30px;
  }
.card {
    width: 80%;
    margin: 40px auto;
    border: 3px solid rgb(241, 108, 108);
    box-shadow: 3px 5px #f9c9c9;
}